In [4]:
import pandas as pd

In [5]:
# bank transaction data =  btd DataFrame
btd = pd.read_csv("bank_transactions.csv")
btd.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1048567 entries, 0 to 1048566
Data columns (total 9 columns):
 #   Column                   Non-Null Count    Dtype
---  ------                   --------------    -----
 0   TransactionID            1048567 non-null  object
 1   CustomerID               1048567 non-null  object
 2   CustomerDOB              1045170 non-null  object
 3   CustGender               1047467 non-null  object
 4   CustLocation             1048416 non-null  object
 5   CustAccountBalance       1046198 non-null  float64
 6   TransactionDate          1048567 non-null  object
 7   TransactionTime          1048567 non-null  int64
 8   TransactionAmount (INR)  1048567 non-null  float64
dtypes: float64(2), int64(1), object(6)
memory usage: 72.0+ MB

In [6]:
# Convert symbol from Indian Rupee to ZAR (R)
btd['TransactionAmount (R)'] = btd['TransactionAmount (INR)']
btd.drop(columns=['TransactionAmount (INR)'], inplace=True)
btd.head(5)

,TransactionID,CustomerID,CustomerDOB,CustGender,CustLocation,CustAccountBalance,TransactionDate,TransactionTime,TransactionAmount (R)
0,T1,C5841053,10/1/94,F,JAMSHEDPUR,17819.05,2/8/16,143207,25.0
1,T2,C2142763,4/4/57,M,JHAJJAR,2270.69,2/8/16,141858,27999.0
2,T3,C4417068,26/11/96,F,MUMBAI,17874.44,2/8/16,142712,459.0
3,T4,C5342380,14/9/73,F,MUMBAI,866503.21,2/8/16,142714,2060.0
4,T5,C9031234,24/3/88,F,NAVI MUMBAI,6714.43,2/8/16,181156,1762.5

In [7]:
btd.isna().sum()
# Check for missing values.

TransactionID               0
CustomerID                  0
CustomerDOB              3397
CustGender               1100
CustLocation              151
CustAccountBalance       2369
TransactionDate             0
TransactionTime             0
TransactionAmount (R)       0
dtype: int64

In [8]:
# - Fix CustAccountBalance - those unknown make balance 0.
btd['CustAccountBalance'].fillna(0, inplace=True)

In [9]:
btd.isna().sum()

TransactionID               0
CustomerID                  0
CustomerDOB              3397
CustGender               1100
CustLocation              151
CustAccountBalance          0
TransactionDate             0
TransactionTime             0
TransactionAmount (R)       0
dtype: int64

In [11]:
# Fix column Data types
btd['TransactionTime'] = pd.to_datetime(btd['TransactionTime'])
btd['TransactionDate'] = pd.to_datetime(btd['TransactionDate'], format="%Y-%m-%d")
btd['CustomerDOB'] =  pd.to_datetime(btd['CustomerDOB'], format="%Y-%m-%d")

# Add age column
btd['Age'] = 2024 - btd['CustomerDOB'].dt.year
# The above will produce columns where some customers have negative age
# Below only consider rows where user DOB is less than current year
newDF = btd[btd["CustomerDOB"].dt.year < pd.Timestamp.now().year] 
# Store new DataFrame in newDF, extract to CSV, this is the new dataset that will be used onwards.
newDF.to_csv('new_dataset.csv', index=False)

C:\Users\gmvn\AppData\Local\Temp\ipykernel_8064\2451252074.py:3: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  btd['TransactionDate'] = pd.to_datetime(btd['TransactionDate'])

ValueError: time data "10/1/94" doesn't match format "%Y-%m-%d", at position 0. You might want to try:
    - passing `format` if your strings have a consistent format;
    - passing `format='ISO8601'` if your strings are all ISO8601 but not necessarily in exactly the same format;
    - passing `format='mixed'`, and the format will be inferred for each element individually. You might want to use `dayfirst` alongside this.